body{
    margin: 0px;
}

a{
    color: white;
    text-decoration: none;
}

a:active, a:link{
    color: white;
    
}

section {
    float: left;
    background-color: hsl(0, 0%, 35%);
    height: 650px;
    z-index: 1;
}

nav{
    padding-top: 10px;
    z-index: 3;
}

ul{
    list-style-type: none;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin:auto;
    padding-left: 0px;
}
 li {
    background-color: hsl(0, 0%, 15%);
    margin: 8px;
    padding: 10px 100px 10px 10px;
 }
