body{
    background-color: rgb(167, 163, 163);
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    line-height: 1.6;
    margin-top: 0;
}

.container{
    margin: 0 auto;
    width: 1080px;
}

article{
    background-color: hsl(60, 3%, 82%);
    padding: 10px 15px 10px 15px;
    margin-top: 20px;
    border: 2px solid;
    border-color: rgb(168, 168, 103);
    float: right;
    width: 850px;
    
}

article p {
    font-size: 18px;
}

.texto{
    margin-top: 30px;
}

h1{
    border-bottom: 2px dashed;
    border-color: rgb(168, 168, 103);
    font-weight: bolder;
}

header{
    background-color: black;
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid rgb(168, 168, 103);
}

nav{
    overflow: hidden;
}

nav a{
    text-align: center;
    text-decoration: none;
    padding: 10px;
    font-size: 22px;
    color: white;
    margin: 0 20px 0 20px;
}

a:hover{
    color: rgb(168, 168, 103);
}

table{
    display: inline;
}

ul{
    list-style-type: none;
    margin-left: -30px;
}

aside{
    float: left;
    width: 150px;
}

aside li{
    color: rgb(250, 248, 248);
    font-style: bold;
}

.clear{
    clear: both;
}

footer{
    font-size: 12px;
    text-align: center;
    bottom: 0%;
    position: fixed;
    width: 1080px;
}